.background {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: white;
}

.customers-list {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    background-color: #ebf5f1; /* Green background */
    border: 0px; /* Green border */
    margin-bottom: 10px;
    margin-top: 10px;
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.list {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }